body {
  margin: 1em;
  background-color: #000;
  color: pink;
}
a {
  color: pink;
  text-decoration: none;
}
.songs {
  margin: 1em;
  display: none;
}
#bands a {
  font-size: 1.25em;
}
#bands .songs a {
  font-size: 1em;
}
#bands a:hover {
  color: red;
}
.player {
  width: 1em;
  height: 1em;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../img/play.svg);
  display: none;
  margin: 0 0 0 1em;
}
.player.playing {
  background-image: url(../img/pause.svg);
}