@import 'common.css';

body {
  background: #fff;
  padding: .5em;
  background-image: url('../img/more/sunflower.webp');
  /* background-position: center; */
  background-size: 100%;
  color: #880808;
}
a {
  color: #880808;
}
a:hover {
  text-shadow: 
    -.5px -.5px 0 rgb(255, 138, 157),  
     .5px -.5px 0 rgb(255, 138, 157),
    -.5px  .5px 0 rgb(255, 138, 157),
     .5px  .5px 0 rgb(255, 138, 157);
}
q::before {
  font-size: 300%;
}
q::after {
  font-size: 300%;
}
q p {
  margin: 0;
  padding: .25em 2em .25em 1em;
}
p.remember {
  margin-top: -.75em;
}
